*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
     
}
 h1{
    color:wheat;
    background-color: aquamarine;
    padding: 30px;
    width: 500px;
    height: 500px;
    text-align: center;
 }